<!DOCTYPE html>
<!--
TRAFFIC VIOLATIONS PORTAL
saiy2k (http://saiy2k.blogspot.in)

This file is part of Traffic Violation Portal project (https://github.com/GethuGames/Traffic-Violations-Portal).

Traffic-Violations-Portal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Traffic-Violations-Portal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with ACR-Timeline-Infograph. If not, see <http://www.gnu.org/licenses/>.
-->

<html ng-app="TrafficApp">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="app/misc/oauth.js"></script>
    <script src="app/misc/createDialog.js"></script>
    <script src="app/TrafficApp.js"></script>
    <script src="app/user/UserService.js"></script>
    <script src="app/user/UserController.js"></script>
    <script src="app/complaint/ComplaintService.js"></script>
    <script src="app/complaint/ComplaintController.js"></script>
    <script src="app/video/VideoService.js"></script>
    <script src="app/video/VideoController.js"></script>
    <script src="app/leaderboard/LeaderboardService.js"></script>
    <script src="app/leaderboard/LeaderboardController.js"></script>
    <script>
        OAuth.initialize('vtV0ch3lZ_SPyiVNi4G2LVGrrFg');
    </script>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="app/css/style.css">
    <title></title>
</head>

<body>

    <!-- TOP_GRAY_BAR that fits full width of the document -->
    <div class="topBar" ng-controller="UserController">
        <a href="#" id="loginButton" class="barButton" ng-click="login()" ng-show="user.name == ''">Login</a>
        <a href="#" id="profileButton" class="barButton" ng-show="user.name != ''">{{user.name}}</a>
    </div>
    <!-- End of TOP_GRAY_BAR -->

    <!-- HEADER -->
    <h1>Traffic Violation Portal</h1>
    <!-- End of HEADER -->

    <!-- SINGLE_COLUMN to center the contents -->
    <div class="singleColumn">

        <!-- LEADER_BOARD_CONTROLLER Start -->
        <div class="card" ng-controller="LeaderboardController">

            <!-- TITLE -->
            <h2>
                <span>Top Contributors</span>
                <span style="float: right">
                    <select ng-model="data.name" ng-init="data.name = data.name || data[0].id" ng-options="item.id as item.name for item in data" ng-change="clicker(data.name)" >
                    </select>
                </span>
            </h2>
            <!-- End of TITLE -->

            <div class="cardColumn33">
                <h3>This week</h3>
                <table width="100%">
                    <tr ng-repeat="member in selectedOption.monthly">
                        <td class="leftField left">{{member.name}}</td>
                        <td class="rightField right">{{member.point}}</td>
                    </tr>
                </table>
            </div>

            <div class="cardColumn33">
                <h3>This month</h3>
                <table width="100%">
                    <tr ng-repeat="member in selectedOption.monthly">
                        <td class="leftField left">{{member.name}}</td>
                        <td class="rightField right">{{member.point}}</td>
                    </tr>
                </table>
            </div>

            <div class="cardColumn33" style="float:right; border: 0px">
                <h3>This Year</h3>
                <table width="100%">
                    <tr ng-repeat="member in selectedOption.yearly">
                        <td class="leftField left">{{member.name}}</td>
                        <td class="rightField right">{{member.point}}</td>
                    </tr>
                </table>
            </div>

        </div>
        <!-- End of LEADER_BOARD_CONTROLLER -->

        <!-- VIDEO_CONTROLLER Start -->
        <div class="card" ng-controller="VideoController">

            <!-- TITLE -->
            <h2>
                <span>Violation Videos</span>

                <div class="barButton" ng-click="upload()" style="font-size: 18px; line-height: 20px"> Upload </div>

                <span style="float: right">
                    <select>
                        <option value="Saidapet">Saidapet</option>
                        <option value="Guindy">Guindy</option>
                        <option value="Velachery">Region</option>
                    </select>
                </span>

                <span style="float: right">
                    <select>
                        <option value="2014-01">January, 2014</option>
                        <option value="2014-02">February, 2014</option>
                        <option value="2014-03">March, 2014</option>
                    </select>
                </span>

            </h2>
            <!-- End of TITLE -->

            <span> Wow !! We got {{videos.length}} videos in total and only {{1000 - videos.length}} to go </span>

            <div ng-repeat="vid in videos" class="videoRow">
                <h3 class="videoHeader">
                    <p style="display: inline">{{vid.videoID}}. Video uploaded by <b>{{vid.uploadedBy}}</b> and analyzed by <b>{{vid.analyzedBy}}</b> </p>
                    <div class="barButton" ng-click="analyze(vid)" style="line-height: 10px; float: right; display:inline"> Analyze </div> 
                </h3>
                <div class="videoContent">
                    <div style="float: left; display:inline"> <img src="{{vid.thumbURL}}" class="videoThumb"> </div>
                    <div style="float: left; overflow-x: auto; width: 640px; height: 100px; white-space: nowrap; display:inline">
                        <div ng-repeat="compl in vid.complaints">
                            <div class="violationCard"> <b class="violationCount">{{compl.violations.length}}</b> {{complaintType[compl.violationType]}} </div>
                        </div>
                    </div> 
                </div>
                <p style="display: block"> {{vid.time}} at {{vid.locality + ', ' + vid.town}} </p>
            </div>

        </div>
        <!-- End of VIDEO_CONTROLLER -->

    </div>
    <!-- End of SINGLE_COLUMN -->

</body>

</html>
