<div class="row-fluid">
    <h3>Changes done here wont get saved PERMANENTLY.</h3>
    <div> Video Taken at {{video.locality}}. Analyze Instructions: </div>
    <ol>
        <li>Download <a href="http://www.ytddownloader.com/" target="_blank"> Youtube Downloader </a></li>
        <li>Paste the Video URL in it: <u>{{video.videoURL}}</u> and download highest quality (1080p) </li>
        <li>Open it and play in any Video players (VLC) </li>
        <li>Carefully identify the violators, and type down their registration number, vehicle type, violation type and the time period where the violation happens (in seconds)</li>
    </ol>
    <table width="100%">
        <tr ng-repeat="item in rawComplaints">
            <td>{{item.vehicleRegNo}}</td>
            <td>{{item.vehicleType}}</td>
            <td>{{item.violationType}}</td>
            <td>{{item.timeSlice}}</td>
        </tr>
    </table>
    <form ng-submit="addNewComplaint()">
        <input type="text" style="width:140px" ng-model="newComplaint.vehicleRegNo" placeholder="Vehicle Registration Number"> 
        <select style="width:100px" ng-model="newComplaint.vehicleType" ng-options="item as item for item in complaint.vehicleType" ></select>
        <select style="width:100px" ng-model="newComplaint.violationType" ng-options="item as item for item in complaint.type" ></select>
        <input type="text" style="width:40px" ng-model="newComplaint.timeSlice" placeholder="Time Slice in seconds"> 
        <input type="SUBMIT" value="+" class="btn-primary">
    </form>
</div>
