<div class="row-fluid">
    <div> Video Taken at {{video.locality}} </div>
    <table width="100%">
        <tr ng-repeat="item in rawComplaints">
            <td>{{item.vehicleRegNo}}</td>
            <td>{{item.vehicleType}}</td>
            <td>{{item.violationType}}</td>
            <td>{{item.timeSlice}}</td>
        </tr>
    </table>
    <form ng-submit="addNewComplaint()">
        <input type="text" style="width:140px" ng-model="newComplaint.vehicleRegNo" placeholder="Vehicle Registration Number"> 
        <select style="width:100px" ng-model="newComplaint.vehicleType" ng-options="item as item for item in complaint.vehicleType" ></select>
        <select style="width:100px" ng-model="newComplaint.violationType" ng-options="item as item for item in complaint.type" ></select>
        <input type="text" style="width:40px" ng-model="newComplaint.timeSlice" placeholder="Time Slice in seconds"> 
        <input type="SUBMIT" value="+" class="btn-primary">
    </form>
</div>
